<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <div>
            <h1 routerLink="/docs/commands"
                class="display-3">Commands</h1>
            <hr>
        </div>
        <form #f="ngForm" [formGroup]="form">
            <div formArrayName="configs" class="row d-flex justify-content-center">
                <div [formGroupName]="i" *ngFor="let command of commands; index as i"
                    class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between">
                            <span>
                                <input type="hidden" formControlName="name">
                                {{ command.name }}
                            </span>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline"
                                    class="px-3">
                                    <mat-label>Whitelisted Roles</mat-label>
                                    <mat-select multiple
                                        formControlName="roles">
                                        <mat-option *ngFor="let role of roles" 
                                            [value]="role.id"
                                            [style.color]="'#' + role.color?.toString(16)">@{{ role.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline"
                                    class="px-3">
                                    <mat-label>Whitelisted Channels</mat-label>
                                    <mat-select multiple
                                        formControlName="channels">
                                        <mat-option *ngFor="let channel of textChannels" 
                                            [value]="channel.id">#{{ channel.name }}
                                            <span class="float-right text-muted">[{{ getChannel(channel.parentID)?.name || 'N/A' }}]</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <pro-paywall>
                <h3>Custom Commands</h3>
                <plus-badge></plus-badge>
                <p class="desc">Filter message content, based on specific conditions</p>

                <div class="row">
                    <div *ngFor="let i of customCommandIndices"
                        formArrayName="custom"
                        class="col-lg-6 col-sm-12">
                        <div [formGroupName]="i" class="rounded custom-command d-flex justify-content-around row">
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Alias</mat-label>                            
                                    <input type="text" formControlName="alias" matInput #alias>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Command</mat-label>                            
                                    <input type="text" formControlName="command" matInput #command>
                                </mat-form-field>
                            </div>
                            <div class="px-5 mx-5">
                                <label class="mr-2">Executable Anywhere</label>
                                <mat-checkbox formControlName="anywhere"></mat-checkbox>                          
                            </div>
                            <div [@expandCollapse]="alias.value && command.value ? 'down' : 'up'"
                                [hidden]="!alias.value || !command.value"
                                [class]="alias.value && command.value ? 'pb-3 px-2' : ''">
                                <code>{{ command.value }}</code> can also be executed with <code>{{ alias.value }}</code>
                            </div>
                        </div>
                    </div>
                </div>
            </pro-paywall>
        </form>
    </div>
</guild-sidebar>
