<dashboard-sidebar>
    <div class="container">
        <h1 class="display-3 p-3">Hey, {{ user.username }}</h1>
        <hr>
        <h1>Welcome to the Beta Dashboard!</h1>
        <p class="text-muted">
            <a href="/docs/badges">Special rewards</a> will be given to those who help report bugs.
        </p>

        <hr>

        <h2>Unlock Crates <div class="badge badge-success">3 CRATES FOR EVERY VOTE!</div></h2>
        <p>
            Crates can be for every vote.
            <span class="text-info">Limited time bonus ends Monday 1st, June.</span>
        </p>
        <button *ngFor="let vote of voteURLs"
            mat-button class="bg-success m-2">
            <a class="m-2 p-5 text-light"
                [href]="vote.url"
                target="_blank" data-toggle="tooltip">{{ vote.name }}</a>
        </button>
    </div>
</dashboard-sidebar>
