<dashboard-sidebar>
    <div class="container">
        <h1 class="display-3 p-3">Hey, {{ user.username }}</h1>
        <hr>
        <h1>Welcome to the Alpha Dashboard!</h1>
        <p>This is a pre-release of an upcoming 3PG update (<a href="/docs/alpha">More info</a>).<br>
        <a href="/docs/badges">Special rewards</a> will be given to those who help report bugs.</p>
        <strong>Unimplemented on Dashboard:</strong>
        <ul>
            <li>Badges not yet complete</li>
            <li>More music input fields</li>
        </ul>
        <strong>Unimplemented on Bot:</strong>
        <ul>
            <li>More commands are needed</li>
        </ul>
    </div>
</dashboard-sidebar>
