.badge {
    width: 75px;
    height: 75px;

    margin: 15px;

    border-radius: 50%;
    border: 1px solid darkslategray;
    cursor: pointer;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(24, 31, 31);
}

.tier-1 {
    border-color: var(--gold);
}

.tier-2 {
    border-color: var(--silver);
}

.tier-3 {
    border-color: var(--bronze);
}

.displayed {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(72,47,93,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(72,47,93,1);
    box-shadow: 0px 0px 5px 5px rgba(72,47,93,1);
}

.locked {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}