<dashboard-sidebar>
    <section class="container">
        <customize-xp-card #customize
            hidden></customize-xp-card>
        <h2 class="display-3">My Badges</h2>
        <hr>
        <div id="badges" class="mt-3 row">
            <div *ngFor="let badge of badges"
                class="col-lg-3 col-sm-4 col-xs-6">
                <div class="badge"
                    [ngClass]="{
                        'active': badge.active,
                        'tier-1': badge.tier === 1,
                        'tier-2': badge.tier === 2,
                        'tier-3': badge.tier === 3
                    }"
                    [matTooltip]="(badge.type | snakeToSentenceCase) + ' - ' + badge.description"
                    [style.backgroundImage]="'url(' + badge.url + ')'"><div></div>
                </div>
            </div>
        </div>
    </section>
</dashboard-sidebar>