<guild-sidebar [waitFor]="savedGuild && general">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div class="jumbotron">
                <div class="d-flex justify-content-between">
                    <h1 class="display-3">General</h1>
                    <mat-slide-toggle formControlName="enabled"
                        class="float-right mt-5"></mat-slide-toggle>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Prefix</mat-label>
                        <input matInput
                            formControlName="prefix" type="text">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ignored Channels</mat-label>
                        <mat-select multiple
                            formControlName="ignoredChannels">
                            <mat-option *ngFor="let channel of textChannels" 
                                [value]="channel.id">#{{ channel.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Auto Roles</mat-label>
                        <mat-select multiple
                            formControlName="autoRoles">
                            <mat-option *ngFor="let role of roles" 
                                [value]="role.id">@{{ role.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <h3>Reaction Roles</h3>
            <p class="desc">React to messages to get roles</p>
            <div class="row">
                <div formArrayName="reactionRoles" class="row">
                    <div class="col-lg-6 col-md-12" *ngFor="let i of reactionRolesIndices">
                        <div [formGroupName]="i"
                            class="reactionRole">
                            <mat-form-field appearance="outline" class="p-2">
                                <mat-label>Channel</mat-label>
                                <mat-select formControlName="channel">
                                    <mat-option *ngFor="let channel of textChannels" 
                                        [value]="channel.id">#{{ channel.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- message -->
                            <mat-form-field appearance="outline" class="p-2">                                
                                <mat-label>Message ID</mat-label>
                                <input matInput
                                    formControlName="messageId" type="text">
                            </mat-form-field>
                            <!-- emote -->
                            <mat-form-field appearance="outline" class="p-2">
                                <mat-label>Emote</mat-label>
                                <input matInput
                                    formControlName="emote" type="text">
                            </mat-form-field>
                            <!-- role -->
                            <mat-form-field appearance="outline" class="p-2">
                                <mat-label>Role</mat-label>
                                <mat-select
                                    formControlName="role">
                                    <mat-option *ngFor="let role of roles" 
                                        [value]="role.id">@{{ role.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- add form-control-name -->
                <!-- <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart> -->
            </div>
        </form>
    </div>
</guild-sidebar>
