:root {
    --background-primary: #36393F;
    --background-secondary: rgb(37, 38, 42);
    --background-tertiary: #202225;
}

body {
    color: transparent;
    background: radial-gradient(circle, var(--background-primary) 0%, var(--background-secondary) 100%) !important;
    height: 100vh;
}