:root {
    --background-primary: #372224;
    --background-secondary: #2c1518;
}

body {
    color: transparent;
    background: radial-gradient(circle, var(--background-primary) 0%, var(--background-secondary) 100%) !important;
    height: 100vh;
}