<navbar></navbar>
<div class="container">
    <div class="jumbotron">
        <div class="d-flex justify-content-between">
            <h1 class="display-3">3PG <img class="pro large" src="assets/img/pro.svg"></h1>
            <img class="float robot d-lg-block d-none" src="assets/img/3PGProAvatarTransparent.webp">
        </div>
        <h2 class="lead">Support 3PG, help cover costs, and improve 3PG's experience.</h2>
    </div>
    <section id="benefits">
        <h2 class="mt-5">Why <img class="pro medium" src="assets/img/pro.svg">?</h2>
        <pro-cards></pro-cards>
    </section>

    <section id="faq">
        <h2 class="py-2">Questions and Answers</h2>
        <zippy title="Will my credit card details be stored?">
            No. We do not store anything to do with your money in our database.
        </zippy>
        <zippy title="Is 3PG PRO a subscription?">
            Yes. 3PG PRO is a $4.99 per month subscription.
        </zippy>
        <zippy title="Are refunds possible?">
            Yes. Contact <code>@ADAMJR#0001</code> on Discord (for now), within 7 days of purchase, if you require a refund.
        </zippy>
        <zippy title="How do I contact support?">
            Contact <code>@ADAMJR#0001</code> on Discord (for now), if you have any issues with the purchase.
        </zippy>
    </section>
</div>