.stripe-button {
    width: 25px;
    height: 25px;
}

.row .card {
    margin: 15px;
    color: var(--font) !important;
    background-color: var(--background-secondary);
}

.disclaimer {
    color: var(--muted);
    font-size: 8px;
}

zippy {
    margin: 15px 0;
}