button {
    padding: 5px 25px;
}

.row .card {
    margin: 15px;
    color: var(--font) !important;
    background-color: var(--background-secondary);
}

zippy {
    margin: 15px 0;
}

.pro.large {
    width: 30%;
    padding-bottom: 15px;
}

.pro.medium {
    height: 42px;
    padding-bottom: 10px;
}

.robot {
    position: absolute;
    z-index: 1;
    min-width: 512px !important;
    right: 10vw;
}