<footer>
    <waves></waves>
    <div class="content d-flex flex-column justify-content-end">
        <span class="right">
            <div class="text-center">
                <a href="https://dbots.co/bots/525935335918665760">
                    <img src="https://dbots.co/api/bots/525935335918665760/widget?size=small" alt="View on DBots">
                </a>
                <a class="pl-2" href="https://dlist.xyz/servers/598565371162656788">
                    <img src="https://dlist.xyz/api/v1/guilds/598565371162656788/widget?size=small" alt="View on DList">
                </a>
            </div>
            <span class="float-right">
                <a [href]="statusURL">Status</a>
                <span class="text-muted px-1">|</span>
                <span class="cursor-pointer" routerLink="/docs/changelog" [fragment]="anchorVersion">{{ version }}</span>
            </span>
        </span>
    </div>
</footer>