* {
    overflow-y: hidden;
}

mat-sidenav ::-webkit-scrollbar {
    display: none !important;
}

.guild-icon {
    border-radius: 50%;

    margin: 5px;
    width: 52px;
    height: 52px;

    background-color: var(--background-primary);
    transition: all .35s;

    cursor: pointer;
}

.guild-icon img:hover, .guild-icon:hover, .guild-icon span:hover {
    border-radius: 25%;
}

.guild-icon span {
    text-align: center;

    font-size: 18px;

    width: 52px;
    height: 48px;
    padding-top: 14px;

    transition: all .35s;
}

.guild-icon img {
    max-width: 52px;
    border-radius: 50%;

    transition: all .35s;
}

button {
    background: transparent;
    border: none;
    color: var(--font);

    font-size: 32px;
}

.guilds {
    padding-top: 12px;
    height: 100%;

    float: left;
    overflow-y: scroll;

    background-color: var(--background-tertiary);
}

.options {
    margin-left: 75px;
    width: 275px;
    height: 100%;
    
    overflow-y: scroll;

    background-color: var(--background-secondary) !important;
}
.toggle {
    visibility: visible;

    margin: 50px 0 0 15px;
}

/* < Small devices */
@media (max-width: 576px) {
    .options {
        width: 225px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .toggle {
        visibility: hidden;
    }
}

mat-sidenav {
    height: 100vh;
    background-color: var(--background-tertiary);
}

.guild-icon .add-guild {
    font-size: 40px;

    color: var(--secondary);
}

.invite:hover {
    background-color: var(--tertiary);
}

.guild-seperator {
    height: 2px;
    width: 32px;
    border-radius: 1px;

    border-color: var(--background-primary);
}

.close {
    position: absolute;
    top: 0;
    right: 15px;

    font-size: 48px;

    color: var(--primary);
    text-shadow: none;
}

a {
    cursor: pointer;
}