<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div class="jumbotron">
                <div class="d-flex justify-content-between">
                    <h1 class="display-3">Timers</h1>
                    <mat-slide-toggle formControlName="enabled"
                        class="float-right mt-5"></mat-slide-toggle>
                </div>
                <hr>
            </div>
            <h3>Command Timers</h3>
            <p class="desc">Automatically execute commands at specific intervals.</p>
            <div formArrayName="commandTimers" class="row">
                <div class="col-lg-6 col-sm-12" *ngFor="let i of timerIndices">
                    <div class="timer" [formGroupName]="i">
                        <div class="header">
                            <strong>Command Timer #{{ i + 1 }}</strong>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                        <hr>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Command</mat-label>
                            <input matInput
                                formControlName="command" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Channel</mat-label>
                            <mat-select formControlName="channel">
                                <mat-option *ngFor="let channel of textChannels" 
                                    [value]="channel.id">#{{ channel.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Interval</mat-label>
                            <input matInput
                                formControlName="interval" type="number" step="5000">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>From</mat-label>
                            <input matInput
                                formControlName="from" type="number" step="5000">
                        </mat-form-field>
                        <input  [ngxTimepicker]="picker">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                    </div>
                </div>
            </div>

            <hr>

            <h3>Message Timers</h3>
            <p class="desc">Automatically send messages at specific intervals.</p>
            <div formArrayName="messageTimers" class="row">
                <div class="col-lg-6 col-sm-12" *ngFor="let i of timerIndices">
                    <div class="timer" [formGroupName]="i">
                        <div class="header">
                            <strong>Message Timer #{{ i + 1 }}</strong>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                        <hr>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Message</mat-label>
                            <textarea matInput
                                formControlName="message" type="text"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Channel</mat-label>
                            <mat-select formControlName="channel">
                                <mat-option *ngFor="let channel of textChannels" 
                                    [value]="channel.id">#{{ channel.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Interval</mat-label>
                            <input matInput
                                formControlName="interval" type="number" step="5000">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>From</mat-label>
                            <input matInput
                                formControlName="from" type="number" step="5000">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <hr>

            <h3>Schedule</h3>
            <ul class="list-group">
                <p *ngIf="schedule.length <= 0"
                    class="text-muted">No timers scheduled.</p>
                <li class="list-group-item" *ngFor="let task of schedule; index as i">
                    <span *ngIf="isCommandTimer(task.timer)">
                        <i class="fa fa-code" aria-hidden="true"></i> Execute <code>{{ task.timer.command }}</code> at {{ task.timer.interval }}, every {{ task.timer.interval }} mins from {{ task.timer.from }} 
                    </span>
                    <span *ngIf="!isCommandTimer(task.timer)">
                        <i class="fa fa-comment" aria-hidden="true"></i> Send <code>{{ task.timer.message }}</code> to <strong>#{{ getChannel(task.timer.channel)?.name }}</strong>, every {{ task.timer.interval / 1000 / 60 }} mins from {{ task.timer.from }}
                    </span>
                    <i class="cancel-timer fa fa-times" aria-hidden="true"
                        (click)="cancelTimer(i)"></i>
                </li>
              </ul>
        </form>
    </div>
</guild-sidebar>