.timer {
    background-color: var(--background-secondary);
    padding: 15px;
    margin: 10px;
}

.timer .header {
    padding: 0 10px;
}

li {
    border-color: transparent !important;
    color: var(--heading);
}

.pending {
    background-color: var(--warning);
}

.active {
    background-color: var(--success);
}

.failed {
    background-color: var(--danger);
}