<guild-sidebar [waitFor]="savedGuild">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div>
                <div class="d-flex justify-content-between">
                    <h1 routerLink="/docs/timers"
                        class="display-3">Timers</h1>
                    <mat-slide-toggle formControlName="enabled"
                        class="float-right mt-5"></mat-slide-toggle>
                </div>
                <hr>
            </div>
            <h3>Command Timers <pro-reminder></pro-reminder></h3>
            <p class="desc">Automatically execute commands at specific intervals.</p>
            <div formArrayName="commandTimers" class="row">
                <div class="col-lg-6 col-sm-12" *ngFor="let i of timerIndices">
                    <div class="rounded timer" [formGroupName]="i">
                        <div class="header color-heading">
                            <strong>Command Timer #{{ i + 1 }}</strong>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                        <hr>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Command</mat-label>
                            <input matInput
                                formControlName="command" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Channel</mat-label>
                            <mat-select formControlName="channel">
                                <mat-option *ngFor="let channel of textChannels" 
                                    [value]="channel.id">#{{ channel.name }}
                                    <span class="float-right text-muted">[{{ getChannel(channel.parentID)?.name || 'N/A' }}]</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Interval</mat-label>
                            <input matInput
                                formControlName="interval" type="time" step="300">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>From</mat-label>
                            <input matInput formControlName="from" type="datetime-local">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <hr>

            <h3>Message Timers <pro-reminder></pro-reminder></h3>
            <p class="desc">Automatically send messages at specific intervals.</p>
            <div formArrayName="messageTimers" class="row">
                <div class="col-lg-6 col-sm-12" *ngFor="let i of timerIndices">
                    <div class="rounded timer" [formGroupName]="i">
                        <div class="header color-heading">
                            <strong>Message Timer #{{ i + 1 }}</strong>
                            <div class="float-right">
                                <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
                            </div>
                        </div>
                        <hr>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Message</mat-label>
                            <textarea matInput #message
                                formControlName="message" type="text"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Channel</mat-label>
                            <mat-select formControlName="channel">
                                <mat-option *ngFor="let channel of textChannels" 
                                    [value]="channel.id">#{{ channel.name }}
                                    <span class="float-right text-muted">[{{ getChannel(channel.parentID)?.name || 'N/A' }}]</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>Interval</mat-label>
                            <input matInput
                                formControlName="interval" type="time" step="300">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="p-2">
                            <mat-label>From</mat-label>
                            <input matInput formControlName="from" type="datetime-local">
                        </mat-form-field>
                        <message-preview [content]="message.value" [eventVariables]="false"></message-preview>
                    </div>
                </div>
            </div>

            <hr>

            <h3 routerLink="/docs/timers" fragment="schedule">Schedule</h3>
            <ul class="list-group">
                <p *ngIf="schedule.length <= 0"
                    class="text-muted">No timers scheduled.</p>
                    <!-- TODO: add message timer number -->
                <li class="list-group-item" *ngFor="let task of schedule; index as i"
                    [class]="task.status.toLowerCase()">
                    <span *ngIf="isCommandTimer(task.timer)">
                        <i class="fa fa-code" aria-hidden="true"></i> Execute <code>Command Timer</code> in <strong>#{{ getChannel(task.timer.channel)?.name }}</strong>, every <u>{{ task.timer.interval }}</u> from {{ task.timer.from | cleanDateTime }} 
                    </span>
                    <span *ngIf="!isCommandTimer(task.timer)">
                        <i class="fa fa-comment" aria-hidden="true"></i> Send <code>Message Timer</code> to <strong>#{{ getChannel(task.timer.channel)?.name }}</strong>, every <u>{{ task.timer.interval }}</u> from {{ task.timer.from | cleanDateTime }}
                    </span>
                    <p class="float-right m-0">{{ task.status }}</p>
                </li>
              </ul>
        </form>
    </div>
</guild-sidebar>