// https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular
// to generate palettes

@import "~@angular/material/theming";

@include mat-core();

:root {
    --font: #FFFFFF;
    --pro: #482F5D;

    --danger: darkred;
    --muted: grey;

    --primary: #482F5D;
    --secondary: #45377C;
    --tertiary: #351F20;

    --background-primary: #372224;
    --background-secondary: #2c1518;
    --background-tertiary: #251113;

    --gold: #D4AF37;
    --silver: silver;
    --bronze: #CD7F32;
}

$primary-palette: (
    50 : #eae8f3,
    100 : #c9c6e1,
    200 : #a6a1ce,
    300 : #827bba,
    400 : #675eab,
    500 : #4c429c,
    600 : #453c94,
    700 : #3c338a,
    800 : #332b80,
    900 : #241d6e,
    A100 : #b1acff,
    A200 : #8179ff,
    A400 : #5246ff,
    A700 : #3a2cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$secondary-palette: (
    50 : #e9e7ef,
    100 : #c7c3d8,
    200 : #a29bbe,
    300 : #7d73a3,
    400 : #615590,
    500 : #45377c,
    600 : #3e3174,
    700 : #362a69,
    800 : #2e235f,
    900 : #1f164c,
    A100 : #9a89ff,
    A200 : #6e56ff,
    A400 : #4223ff,
    A700 : #2c09ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

// css styles

.mat-success {
    background-color: green;
    color: #fff;
}
.mat-select-panel, .mat-chip.mat-standard-chip {
    background-color: var(--background-secondary);
}

// colours:
// 4A3050 (bg-primary), 4D426C, 4C429C (primary), 493A77, 372224