// https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular
// to generate palettes

@import "~@angular/material/theming";

@include mat-core();

:root {
    --heading: #FFFFFF;
    --font: #FFFFFF;

    --primary: #482F5D;
    --secondary: #45377C;
    --tertiary: #351F20;

    --background-primary: #372224;
    --background-secondary: #2c1518;
    --background-tertiary: #251113;

    --danger: #B00000;
    --muted: grey;
    --interactive-muted: #4f545c;

    --pro: #482F5D;

    --gold: #D4AF37;
    --silver: silver;
    --bronze: #CD7F32;
}
:root[theme=COSMIC] {
    --heading: #ffffff;
    --font: #ACB9D5;

    --primary: #6E80AD;
    --secondary: #8199BB;
    --tertiary: #465689;
    
    --background-primary: #0F1A31;
    --background-secondary: #070d1a;
    --background-tertiary: #060b18;
}
:root[theme=DISCORD] {
    --font: #99AAB5;

    --danger: #B00000;
    --muted: grey;
    
    --background-primary: #36393F;
    --background-secondary: rgb(37, 38, 42);
    --background-tertiary: #202225;
}
:root[theme=TWILIGHT] {
    --font: #E3E7EA;

    --danger: darkred;
    --muted: grey;

    --primary: #757A89;
    --secondary: #78839B;
    --tertiary: #838B84;

    --background-primary: #171F2C;
    --background-secondary: #111720;
    --background-tertiary: #10151d;
}
:root[theme=IONIC] {
    --heading: #FFFFFF;
    --font: #F4F2F3;
    --plus: green;

    --danger: darkred;
    --muted: grey;
    --interactive-muted: #4f545c;

    --primary: #46828D;
    --secondary: #276C8A;
    --tertiary: #36E2CA;

    --background-primary: #15244B;
    --background-secondary: #0a193a;
    --background-tertiary: #081536;
}

$primary-palette: (
    50 : #eae8f3,
    100 : #c9c6e1,
    200 : #a6a1ce,
    300 : #827bba,
    400 : #675eab,
    500 : #4c429c,
    600 : #453c94,
    700 : #3c338a,
    800 : #332b80,
    900 : #241d6e,
    A100 : #b1acff,
    A200 : #8179ff,
    A400 : #5246ff,
    A700 : #3a2cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$secondary-palette: (
    50 : #e9e7ef,
    100 : #c7c3d8,
    200 : #a29bbe,
    300 : #7d73a3,
    400 : #615590,
    500 : #45377c,
    600 : #3e3174,
    700 : #362a69,
    800 : #2e235f,
    900 : #1f164c,
    A100 : #9a89ff,
    A200 : #6e56ff,
    A400 : #4223ff,
    A700 : #2c09ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

// css styles

// utils

.color-heading {
    color: var(--heading) !important;
}

.color-primary {
    color: var(--primary) !important;
}

// global

h1,h2,h3,h4,h5 {
    color: var(--heading) !important;
}

// other

.mat-success {
    background-color: green;
    color: #fff;
}
.mat-select-panel, .mat-chip.mat-standard-chip {
    background-color: var(--background-secondary);
}

.interactive-muted {
    color: var(--interactive-muted) !important;    
}

// overrides

.color-picker {
    background: var(--background-tertiary) !important;
    border: none !important;
}

.color-picker input {
    background: var(--background-secondary) !important;
    color: var(--font) !important;
    border: none !important;
}

// colours:
// 4A3050 (bg-primary), 4D426C, 4C429C (primary), 493A77, 372224