.container {
    padding-bottom: 100px;
}

.jumbotron {
    background: none;
    text-align: center;
    margin-top: 15vh;
}

p:not(.lead) {
    color: var(--muted);
    cursor: pointer;
}

footer {
    z-index: 1 !important;
}

.robot {
    max-width: 196px;
    margin-bottom: 5px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature .lead {
    color: var(--muted);
}

#features .col-lg-6 {
    margin: 75px 0;
}

img, #musicPlayer, #leaderboard {
    max-width: 85vw;
}
#musicPlayer, #leaderboard {
    border-radius: 5px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    img {
        max-width: 640px;
    }
    #musicPlayer, #leaderboard {
        max-width: 520px;
    }
}